{erl_opts, [debug_info]}.

{profiles, [{test, [{erl_opts, [{parse_transform, horse_autoexport}
                               ,{d, 'PERF'}
                               ]}
                   ,{deps, [{horse,
                             {git, "https://github.com/ninenines/horse.git",
                              {branch, "master"}}}
                           ]}
                   ]}
           ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.
